TextureLoader/Library/
TextureLoader/ProjectSettings/
Android/textureloader/obj/
Android/textureloader/bin/
Android/textureloader/libs/armeabi-v7a
Android/textureloader/libs/arm64-v8a
*.apk
*.sln
*.csproj
*.suo
